@model bool
    
@if (Model)
{
    
    <h6 class="statusgreen "> <span data-feather="wifi"></span>All systems up</h6>
}
else
{
    <h6 class="statusred "> <span data-feather="wifi"></span>System Down</h6>
}
