@*@model RegisterViewModel*@
<!--
<h2>Register now at Cake Shop. It's free!</h2>
<div class="card card-body bg-light" style="width: 48rem;">
    <form enctype="multipart/form-data" asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
        <h4>Create a new account!</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="login-box-body col-md-8" id="ldiv">
            <div class="row">
                <div class="form-group">
                    <label asp-for="UserName" class="col-md-6 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-6 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label asp-for="LastName" class="col-md-6 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="FirstName" class="col-md-6 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="form-group">
                    <label asp-for="AddressLine1" class="col-md-6 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="AddressLine1" class="form-control" />
                        <span asp-validation-for="AddressLine1" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AddressLine2" class="col-md-6 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="AddressLine2" class="form-control" />
                        <span asp-validation-for="AddressLine2" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">


                <div class="form-group">
                    <label asp-for="City" class="col-md-6 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ZipCode" class="col-md-6 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="ZipCode" class="form-control" />
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label asp-for="Email" class="col-md-6 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="State" class="col-md-6 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label asp-for="Country" class="col-md-6 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber" class="col-md-6 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="form-group">
                    <label asp-for="BirthDate" class="col-md-6 control-label"></label>
                    <div class="col-md-12">
                        <input type="date" asp-for="BirthDate" class="form-control" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Photo" class="col-md-6 control-label"></label>
                    <div class=" col-md-7 ml-3">
                        <input asp-for="Photo" type="file" class="custom-file-input form-control" />
                        <label class="custom-file-label" for="customFile">Choose file</label>
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>

                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-6 col-md-8 ml-lg-auto">-->
@*<input id="submitbt" type="submit" class="btn btn-primary" value="Register" />*@
<!--<input id="submitbt" asp-page-handler="Upload" class="btn btn-primary" type="submit" value="Register" />
                </div>
            </div>

        </div>


        @section Scripts {
            <script>

                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(fileName);
                    });
                });
            </script>
        }
    </form>
</div>-->
<!-------------------------------------------------new code------------------------------------->

@model WebShop.PL.ViewModels.RegisterViewModel

<h1>Register</h1>

<h4>UserRegistrationModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
