
@if (TempData["DbSave"] != null)
{<h2 class="messagecolor"> @TempData["DbSave"]</h2> }
else
{<h2 class="errormessagecolor">@TempData["DbSave"]</h2>}

@*@if (ViewBag["Itemavailable"] != null)
{<h2> @ViewBag["Itemavailable"]</h2>}*@
